
#all{

    width: 75%;

}

body {
    background: url(/SysTransporteEscolar/resources/imagens/lapis10.jpg);
    font-size: 14px;
    font-family: Arial, "Verdana CE", Verdana, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 0px;
}


#logo{
    width: 100%;
    margin-left: 18%;
}

#conteudo{
    margin-top: 3px;
    height: 900px;
    position: relative;
    left: 18%;
    background: #ffffff;
    -webkit-border-radius: 5px;
    border:#ff9d1e solid 1px ;

}

#top {
    position: relative;
    left: 18%;
}

#bottom {
    margin-top: 4%;
    width: 100%;
    color: #000000;
    height: 130px;
    background-color: #666666;

}

h3 {
    font-family: "Arial Black",Arial, "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  18px;
    padding: 0px;
    margin: 0px;
    color: #000000;
}

h2 {
    font-family: "Times New Roman",Arial, "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  34px;
    font-weight: bold;
    padding: 0px;
    color: #000000;
}

h1 {
    font-family: "Times New Roman",Arial, "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  34px;
    font-weight: bold;
    padding: 0px;
    color: #000000;
}

#bottom .rodape ul  {

    text-decoration: none;
    margin-left: 33%;
    margin-top: 10px;
}
#bottom .Direitos{
    width: 60%;
      margin-left: 33%;

}

#bottom .Direitos li{
    padding-top: 3%;
    list-style-type: none;
    height: 30px;
    font-weight: bold;
}

#bottom .rodape{
    margin-left: 10%;
    width: 60%;
    height: 40px;

}

#bottom .rodape ul li {
    text-decoration:none;
    float:left;
    list-style-type: none;
    margin-left: 3%;
}

#top a:link, #top a:visited {
    color: black;
    font-weight : bold;
    text-decoration: none;

}

#top a:link:hover, #top a:visited:hover  {
    font-weight : bold;
    color: orange;

}

a:link, a:visited {
    color: #000000;
    font-size: 20px;
    font-weight : bold;
    text-decoration: none;
}

a{
    color: #000000;
}

