<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="content">

                <p:growl id="growl" /> 

                <h:form>

                    <p:panelGrid columns="4" style="margin-top: 2%;font-size: 18px;" id="gridCadastroVeiculo">

                        <f:facet name="header">
                            <h3>Cadastro de Veiculos</h3>
                            <p:graphicImage library="imagens" name="bus-icon.png"/>
                        </f:facet>
                        <p:outputLabel value="Marca:" for="txtMarca"  />
                        <p:inputText id="txtMarca" maxlength="20" value="#{veiculoBean.veiculo.marca}" required="true"/>

                        <p:outputLabel value="Ano:" for="txtAno" />
                        <p:inputText maxlength="4" size="5"  id="txtAno" value="#{veiculoBean.veiculo.ano}" required="true"/>

                        <p:outputLabel value="Modelo:" for="txtModelo" />
                        <p:inputText id="txtModelo" maxlength="30" value="#{veiculoBean.veiculo.modelo}" required="true"/>

                        <p:outputLabel value="Registro Detran: " for="txtDetran" />
                        <p:inputText id="txtDetran" maxlength="15" value="#{veiculoBean.veiculo.codigoDetran}"/>

                        <p:outputLabel value="Placa:" for="txtPlaca" />
                        <p:inputMask mask="aaa-9999" maxlength="9"  size="10" id="txtPlaca" value="#{veiculoBean.veiculo.placa}" required="true"/>

                        <p:outputLabel value="Disponibilidade: " for="txtDisponibilidade:" />
                        <p:inputText id="txtDisponibilidade" maxlength="50" value="#{veiculoBean.veiculo.disponibilidade}" required="true" />

                        <p:outputLabel value="Cor:" for="txtCor" />
                        <p:selectOneMenu id="txtCor" value="#{veiculoBean.veiculo.cor}" style="width:125px">
                            <f:selectItem  itemLabel="Selecione" itemValue="" />
                            <f:selectItem itemLabel="Branco" itemValue="Branco" />
                            <f:selectItem itemLabel="Prata" itemValue="Prata" />
                        </p:selectOneMenu>

                        <p:outputLabel/>
                        <p:outputLabel/>

                        <f:facet name="footer">
                            <p:commandButton value="Salvar" action="#{veiculoBean.salvar}" icon="fa fa-save"  update="growl,gridCadastroVeiculo,:listaVeiculos:gridVeiculo" >    
                                <p:confirm id="confirm" header="Confirmação" message="Confirmar Cadastro do Veículo?" icon="fa fa-exclamation-triangle" />
                            </p:commandButton>
                            <p:confirmDialog global="true">
                                <p:commandButton type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check-square-o" />
                                <p:commandButton type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
                            </p:confirmDialog>
                            <p:commandButton value="Cancelar" type="reset" icon="fa fa-close"/>
                        </f:facet>

                    </p:panelGrid><p></p>
                    <h3>*Campos Obrigatórios </h3>

                </h:form>

                <h:form id="listaVeiculos">
                    <p:contextMenu id="contextMenu" for="gridVeiculo"  style="width: 16%;" >
                        <p:menuitem value="Cadastro Completo" update=":formVeiculoCompleto:VeiculoCompleto" icon="ui-icon-search" oncomplete="PF('dlgVeiculoCompleto').show()"/>
                        <p:menuitem value="Editar Veículo" update=":frmedit:gridCadastroVeiculo" icon="ui-icon-search" oncomplete="PF('dglEditVeiculo').show();"/>
                        <p:menuitem value="Deletar Veículo" update="gridVeiculo" icon="ui-icon-close" actionListener="#{veiculoBean.remover}"/>
                    </p:contextMenu>


                    <p:dataTable value="#{veiculoBean.veiculos}" scrollHeight="500" var="veiculo" id="gridVeiculo" style="font-size: 16px;"
                                 scrollable="true"
                                 rowKey="#{veiculo.id}"
                                 selection="#{veiculoBean.veiculo}"
                                 selectionMode="single">

                        <p:column headerText="Id" width="10">
                            #{veiculo.id}
                        </p:column>

                        <p:column headerText="Marca" >
                            #{veiculo.marca}
                        </p:column>

                        <p:column headerText="Modelo" >
                            #{veiculo.modelo}
                        </p:column>

                        <p:column headerText="Placa" width="80">
                            #{veiculo.placa}
                        </p:column>

                        <p:column headerText="Cor" width="80">
                            #{veiculo.cor}
                        </p:column>

                        <p:column headerText="Registro Detran">
                            #{veiculo.codigoDetran}
                        </p:column>

                        <p:column headerText="Disponibilidade" >
                            #{veiculo.disponibilidade}
                        </p:column>

                    </p:dataTable>

                </h:form>

                <!-- Dialog Edita Veiculo !-->

                <p:dialog header="Atualizar Veiculo" 
                          widgetVar="dglEditVeiculo" resizable="false" id="dlg"
                          showEffect="fade" hideEffect="fade" 
                          modal="true" >

                    <h:form id="frmedit" >

                        <p:panelGrid id="gridCadastroVeiculo" columns="4" style="font-size: 16px;">

                          <p:outputLabel value="Marca:" for="txtMarca"  />
                        <p:inputText id="txtMarca" maxlength="20" value="#{veiculoBean.veiculo.marca}" required="true" readonly="true"/>

                        <p:outputLabel value="Ano:" for="txtAno" />
                        <p:inputText maxlength="4" size="5"  id="txtAno" value="#{veiculoBean.veiculo.ano}" required="true" readonly="true"/>

                        <p:outputLabel value="Modelo:" for="txtModelo" />
                        <p:inputText id="txtModelo" maxlength="30" value="#{veiculoBean.veiculo.modelo}" required="true" readonly="true"/>

                        <p:outputLabel value="Registro Detran: " for="txtDetran" />
                        <p:inputText id="txtDetran" maxlength="15" value="#{veiculoBean.veiculo.codigoDetran}" readonly="true"/>

                        <p:outputLabel value="Placa:" for="txtPlaca" />
                        <p:inputMask mask="aaa-9999" maxlength="9" size="10" id="txtPlaca" value="#{veiculoBean.veiculo.placa}" required="true" readonly="true"/>

                        <p:outputLabel value="Disponibilidade: " for="txtDisponibilidade:" />
                        <p:inputText id="txtDisponibilidade" maxlength="50" value="#{veiculoBean.veiculo.disponibilidade}" required="true" />

                        <p:outputLabel value="Cor:" for="txtCor" />
                        <p:selectOneMenu id="txtCor" value="#{veiculoBean.veiculo.cor}" style="width:125px" >
                            <f:selectItem  itemLabel="Selecione" itemValue="" />
                            <f:selectItem itemLabel="Branco" itemValue="Branco" />
                            <f:selectItem itemLabel="Prata" itemValue="Prata" />
                        </p:selectOneMenu>

                        <p:outputLabel/>
                        <p:outputLabel/>

                        <f:facet name="footer">
                            <p:commandButton value="Salvar" action="#{veiculoBean.atualizar}" onclick="PF('dglEditVeiculo').hide()" icon="fa fa-save"  update="growl,gridCadastroVeiculo,:listaVeiculos:gridVeiculo" >    
                                <p:confirm id="confirm" header="Confirmação" message="Atualizar Veículo?" icon="fa fa-exclamation-triangle" />
                            </p:commandButton>
                            <p:confirmDialog global="true">
                                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check-square-o" />
                                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
                            </p:confirmDialog>

                            <p:commandButton value="Cancelar" onclick="PF('dglEditVeiculo').hide()" />
                        </f:facet>

                        </p:panelGrid>

                    </h:form>

                </p:dialog>


                <!-- Dialog Veiculo Completo!-->

                <h:form id="formVeiculoCompleto">
                    <p:dialog id="dialogs" widgetVar="dlgVeiculoCompleto" header="Informaçãoes do Veiculo"
                              modal="true" showEffect="fade" hideEffect="fade" 
                              resizable="false">
                        <p:outputPanel id="VeiculoCompleto" style="text-align:center;">

                            <p:panelGrid  columns="2" rendered="true" columnClasses="label,value" >

                                <h:outputText value="Id:" />
                                <h:outputText value="#{veiculoBean.veiculo.id}" />

                                <h:outputText value="Marca:" />
                                <h:outputText value=" #{veiculoBean.veiculo.marca}" />

                                <h:outputText value="Modelo:" />
                                <h:outputText value="#{veiculoBean.veiculo.modelo}"/>

                                <h:outputText value="Placa:" />
                                <h:outputText value=" #{veiculoBean.veiculo.placa}"/>

                                <h:outputText value="Cor:" />
                                <h:outputText value=" #{veiculoBean.veiculo.cor}"/>

                                <h:outputText value="Cod. Detran:" />
                                <h:outputText value=" #{veiculoBean.veiculo.codigoDetran}"/>

                                <h:outputText value="Disponibilidade:" />
                                <h:outputText value="#{veiculoBean.veiculo.disponibilidade}"/>


                            </p:panelGrid>

                        </p:outputPanel>

                    </p:dialog>

                </h:form>

            </ui:define>

        </ui:composition>
    </body>
</html>
