<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="content">

                <p:growl id="growl" /> 

                <h:form>

                    <p:panelGrid columns="4" style="margin-top: 2%;font-size: 18px;" id="gridCadastroAjudante">

                        <f:facet name="header">
                            <h3> Cadastro de Ajudantes</h3>
                            <p:graphicImage library="imagens" name="user-icon.png"/>
                        </f:facet>
                        <p:outputLabel value="Nome:" for="txtAjudante"  />
                        <p:inputText id="txtAjudante"  size="40" value="#{ajudanteBean.ajudante.nome}" required="true"/>

                        <p:outputLabel value="Logradouro:" for="txtLogradouro" />
                        <p:inputText id="txtLogradouro"  size="30" value="#{ajudanteBean.ajudante.endereco.logradouro}" required="true"/>

                        <p:outputLabel value="Telefone:" for="txtTelefone" />
                        <p:inputMask mask="9999-9999" maxlength="8"  size="10" id="txtTelefone" value="#{ajudanteBean.ajudante.telefone}" required="true"/>

                        <p:outputLabel value="Bairro:" for="txtBairro" />
                        <p:inputText id="txtBairro"  size="20" value="#{ajudanteBean.ajudante.endereco.bairro}" required="true"/>

                        <p:outputLabel value="CPF:" for="txtCpf" />
                        <p:inputMask mask="999.999.999-99"  size="15" maxlength="11" id="txtCpf" value="#{ajudanteBean.ajudante.cpf}" required="true"/>

                        <p:outputLabel value="Cidade:" for="txtCidade" />
                        <p:selectOneMenu id="txtCidade" value="#{ajudanteBean.ajudante.endereco.cidade}" style="width:125px">
                            <f:selectItem  itemLabel="Selecione" itemValue="" />
                            <f:selectItem itemLabel="Vitória" itemValue="Vitória" />
                            <f:selectItem itemLabel="Vila-Velha" itemValue="Vila-Velha" />
                            <f:selectItem itemLabel="Serra" itemValue="Serra" />
                            <f:selectItem itemLabel="Cariacica" itemValue="Cariacica" />
                        </p:selectOneMenu>

                        <p:outputLabel value="RG:" for="txtRg" />
                        <p:inputText maxlength="9" size="10" id="txtRg" value="#{ajudanteBean.ajudante.rg}" required="true" />

                        <p:outputLabel value="Numero: " for="txtNumero" />
                        <p:inputText id="txtNumero" size="8" value="#{ajudanteBean.ajudante.endereco.numero}" required="true" />

                        <f:facet name="footer">
                            <p:commandButton  value="Salvar"  action="#{ajudanteBean.salvar}" update="growl,gridCadastroAjudante,:listaAjudantes:gridAjudante" icon="fa fa-save">
                                <p:confirm header="Confirmação" message="Confirmar Cadastro do Ajudante?" icon="ui-icon-alert" />
                            </p:commandButton>
                            <p:confirmDialog global="true">
                                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                            <p:commandButton value="Cancelar" type="reset" />
                        </f:facet>

                    </p:panelGrid><p></p>
                    <h3>*Campos Obrigatórios </h3>

                </h:form>

                <h:form id="listaAjudantes">
                    <p:contextMenu  for="gridAjudante" style="width: 16%;">
                        <p:menuitem value="Cadastro Completo" update=":formAjudanteCompleto:AjudanteCompleto" icon="ui-icon-search" oncomplete="PF('dlgAjudanteCompleto').show()"/>
                        <p:menuitem value="Editar Ajudante" update=":frmedit:gridCadastroAjudante" icon="ui-icon-search" oncomplete="PF('dglEditAjudante').show();"/>
                        <p:menuitem value="Deletar Ajudante" update="gridAjudante" icon="ui-icon-close" actionListener="#{ajudanteBean.remover}"/>
                    </p:contextMenu>


                    <p:dataTable value="#{ajudanteBean.ajudantes}" scrollHeight="500" var="ajudante" id="gridAjudante" style="font-size: 16px;"
                                 scrollable="true"
                                 rowKey="#{ajudante.id}"
                                 selection="#{ajudanteBean.ajudante}"
                                 selectionMode="single">


                        <p:column headerText="Id" width="20">
                            #{ajudante.id}
                        </p:column>

                        <p:column headerText="Nome">
                            #{ajudante.nome}
                        </p:column>

                        <p:column headerText="Telefone" width="80">
                            #{ajudante.telefone}
                        </p:column>

                        <p:column headerText="Endereço" >
                            #{ajudante.endereco.logradouro}
                        </p:column>

                        <p:column headerText="Numero" width="60">
                            #{ajudante.endereco.numero}
                        </p:column>

                        <p:column headerText="Bairro" width="120">
                            #{ajudante.endereco.bairro}
                        </p:column>

                        <p:column headerText="Cidade" width="80">
                            #{ajudante.endereco.cidade}
                        </p:column>

                    </p:dataTable>

                </h:form>

                <!--Dialog Edit Ajudante!-->

                <p:dialog id="dialogs" header="Atualizar Ajudante"
                          widgetVar="dglEditAjudante" resizable="false"
                          showEffect="fade" hideEffect="fade" 
                          modal="true" >

                    <h:form id="frmedit">

                        <p:panelGrid id="gridCadastroAjudante" columns="4" style="font-size: 18px;">

                            <p:outputLabel value="Nome:" for="txtAjudante"  />
                            <p:inputText id="txtAjudante"  size="40" value="#{ajudanteBean.ajudante.nome}" required="true" />

                            <p:outputLabel value="CPF:" for="txtCpf" />
                            <p:inputMask mask="999.999.999-99"  size="15" maxlength="11" id="txtCpf" value="#{ajudanteBean.ajudante.cpf}" required="true" readonly="true"/>

                            <p:outputLabel value="Telefone:" for="txtTelefone" />
                            <p:inputMask mask="9999-9999" maxlength="8"  size="10" id="txtTelefone" value="#{ajudanteBean.ajudante.telefone}" required="true"/>

                            <p:outputLabel value="RG:" for="txtRg" />
                            <p:inputText maxlength="9"  size="10" id="txtRg" value="#{ajudanteBean.ajudante.rg}" required="true" readonly="true" />

                            <p:outputLabel value="Logradouro:" for="txtLogradouro" />
                            <p:inputText id="txtLogradouro"  size="40" value="#{ajudanteBean.ajudante.endereco.logradouro}" required="true"/>

                            <p:outputLabel value="Bairro:" for="txtBairro" />
                            <p:inputText id="txtBairro"  size="20" value="#{ajudanteBean.ajudante.endereco.bairro}" required="true"/>

                            <p:outputLabel value="Cidade:" for="txtCidade" />
                            <p:selectOneMenu id="txtCidade" value="#{ajudanteBean.ajudante.endereco.cidade}" style="width:125px">
                                <f:selectItem  itemLabel="Selecione" itemValue="" />
                                <f:selectItem itemLabel="Vitória" itemValue="Vitória" />
                                <f:selectItem itemLabel="Vila-Velha" itemValue="Vila-Velha" />
                                <f:selectItem itemLabel="Serra" itemValue="Serra" />
                                <f:selectItem itemLabel="Cariacica" itemValue="Cariacica" />
                            </p:selectOneMenu>

                            <p:outputLabel value="Numero: " for="txtNumero" />
                            <p:inputText id="txtNumero"  size="8" value="#{ajudanteBean.ajudante.endereco.numero}" required="true" />

                            <f:facet name="footer">
                                <p:commandButton  value="Salvar"  action="#{ajudanteBean.atualizar}" onclick="PF('dglEditAjudante').hide()" update="growl,gridCadastroAjudante,:listaAjudantes:gridAjudante" icon="fa fa-save">
                                    <p:confirm header="Confirmação" message="Atualizar Ajudante?" icon="ui-icon-alert" />
                                </p:commandButton>
                                <p:confirmDialog global="true">
                                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                </p:confirmDialog>
                                <p:commandButton value="Cancelar" icon="fa fa-close" onclick="PF('dglEditAjudante').hide()" />
                            </f:facet>
                        </p:panelGrid>

                    </h:form>

                </p:dialog>

                <!-- Ajudante completo!-->

                <h:form id="formAjudanteCompleto">
                    <p:dialog widgetVar="dlgAjudanteCompleto" header="Informaçãoes do Ajudante" style="font-size: 16px;"
                              modal="true" showEffect="fade" hideEffect="fade" 
                              resizable="false">
                        <p:outputPanel id="AjudanteCompleto" style="text-align:center;">

                            <p:panelGrid  columns="2" rendered="true" columnClasses="label,value">

                                <h:outputText value="Id:" />
                                <h:outputText value="#{ajudanteBean.ajudante.id}" />

                                <h:outputText value="Nome:" />
                                <h:outputText value="#{ajudanteBean.ajudante.nome}" />

                                <h:outputText value="Telefone:" />
                                <h:outputText value="#{ajudanteBean.ajudante.telefone}"/>

                                <h:outputText value="CPF:" />
                                <h:outputText value="#{ajudanteBean.ajudante.cpf}"/>

                                <h:outputText value="RG:" />
                                <h:outputText value="#{ajudanteBean.ajudante.rg}"/>

                                <h:outputText value="Logradouro:" />
                                <h:outputText value="#{ajudanteBean.ajudante.endereco.logradouro}"/>

                                <h:outputText value="Cidade:" />
                                <h:outputText value="#{ajudanteBean.ajudante.endereco.cidade}"/>

                                <h:outputText value="Bairro:" />
                                <h:outputText value="#{ajudanteBean.ajudante.endereco.bairro}"/>

                                <h:outputText value="Número" />
                                <h:outputText value="#{ajudanteBean.ajudante.endereco.numero}"/>

                            </p:panelGrid>
                        </p:outputPanel>
                    </p:dialog>
                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
