<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="content">

                <p:growl id="growl" /> 

                <h:form>

                    <p:panelGrid columns="4" style="margin-top: 2%;font-size: 18px;" id="gridCadastroMotorista">

                        <f:facet name="header">
                            <h3>Cadastro de Motorista</h3>
                            <p:graphicImage library="imagens" name="driver-icon.png"/>
                        </f:facet>

                        <p:outputLabel value="Nome:" for="txtNomeMotorista"  />
                        <p:inputText id="txtNomeMotorista" maxlength="80" size="30" value="#{motoristaBean.motorista.nome}" required="true"/>

                        <p:outputLabel value="CNH:" for="txtCnh" />
                        <p:inputText id="txtCnh" maxlength="20" size="15" value="#{motoristaBean.motorista.cnh}" required="true" readonly="true"/>

                        <p:outputLabel value="Telefone:" for="txtTelefone" />
                        <p:inputMask mask="9999-9999" size="15" maxlength="8" id="txtTelefone" value="#{motoristaBean.motorista.telefone}" required="true"/>

                        <p:outputLabel value="CPF:" for="txtCpf" />
                        <p:inputMask maxlength="11" size="15" mask="999.999.999-99"  id="txtCpf" value="#{motoristaBean.motorista.cpf}" required="true" readonly="true"/>

                        <p:outputLabel value="RG:" for="txtRg" />
                        <p:inputText maxlength="9" size="10" id="txtRg" value="#{motoristaBean.motorista.rg}" required="true" readonly="true"/>

                        <p:outputLabel value="Logradouro:" for="txtLogradouro" />
                        <p:inputText id="txtLogradouro" size="30" maxlength="80" value="#{motoristaBean.motorista.endereco.logradouro}" required="true"/>

                        <p:outputLabel value="Numero: " for="txtNumero" />
                        <p:inputText id="txtNumero" size="8" maxlength="4" value="#{motoristaBean.motorista.endereco.numero}" required="true" />

                        <p:outputLabel value="Cidade:" for="txtCidade" />
                        <p:selectOneMenu id="txtCidade" value="#{motoristaBean.motorista.endereco.cidade}" style="width:125px">
                            <f:selectItem  itemLabel="Selecione" itemValue="" />
                            <f:selectItem itemLabel="Vitória" itemValue="Vitória" />
                            <f:selectItem itemLabel="Vila-Velha" itemValue="Vila-Velha" />
                            <f:selectItem itemLabel="Serra" itemValue="Serra" />
                            <f:selectItem itemLabel="Cariacica" itemValue="Cariacica" />
                        </p:selectOneMenu>

                        <p:outputLabel value="Bairro:" for="txtBairro" />
                        <p:inputText id="txtBairro" size="20" maxlength="40" value="#{motoristaBean.motorista.endereco.bairro}" required="true"/>

                        <p:outputLabel value=""  />
                        <p:outputLabel value=""  />

                        <f:facet name="footer">
                            <p:commandButton  value="Salvar"  action="#{motoristaBean.salvar}" update="growl,gridCadastroMotorista,:listaMotoristas:gridMotorista" icon="fa fa-save">
                                <p:confirm header="Confirmação" message="Confirmar Cadastro do motorista?" icon="fa fa-exclamation-triangle" />
                            </p:commandButton>
                            <p:confirmDialog global="true">
                                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check-square-o" />
                                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
                            </p:confirmDialog>
                           <p:commandButton value="Cancelar" type="reset" icon="fa fa-close"/>
                        </f:facet>

                    </p:panelGrid><p></p>
                    <h3>*Campos Obrigatórios </h3>

                </h:form>

                <h:form id="listaMotoristas">
                    <p:contextMenu  id="contextMenu" for="gridMotorista"  style="width: 16%;">
                        <p:menuitem value="Cadastro Completo" update=":formMotoristaCompleto:MotoristaCompleto" icon="ui-icon-search" oncomplete="PF('dlgMotoristaCompleto').show()"/>
                        <p:menuitem value="Editar Motorista" update=":frmedit:gridCadastroMotorista" icon="ui-icon-search" oncomplete="PF('dglEditMotorista').show();"/>
                        <p:menuitem value="Deletar Motorista" update="gridMotorista" icon="ui-icon-close" actionListener="#{motoristaBean.remover}"/>
                    </p:contextMenu>

                    <p:dataTable value="#{motoristaBean.motoristas}" scrollHeight="500" var="motorista" id="gridMotorista" style="font-size: 16px;"
                                 scrollable="true"
                                 rowKey="#{motorista.id}"
                                 selection="#{motoristaBean.motorista}"
                                 selectionMode="single">

                        <p:column headerText="Id" width="10">
                            #{motorista.id}
                        </p:column>

                        <p:column headerText="Nome">
                            #{motorista.nome}
                        </p:column>

                        <p:column headerText="Telefone" width="150">
                            #{motorista.telefone}
                        </p:column>

                        <p:column headerText="CPF" width="150">
                            #{motorista.cpf}
                        </p:column>

                        <p:column headerText="CNH" width="150">
                            #{motorista.cnh}
                        </p:column>

                    </p:dataTable>

                </h:form>
                
                <!-- Dialog Edit Motorista!-->
                
                <p:dialog header="Arualizar Motorista"
                          widgetVar="dglEditMotorista" resizable="false" 
                          showEffect="fade" hideEffect="fade" 
                          modal="true" >

                    <h:form id="frmedit">

                        <p:panelGrid id="gridCadastroMotorista" columns="4" style="font-size: 16px;">

                            <p:outputLabel value="Nome:" for="txtNomeMotorista"  />
                            <p:inputText id="txtNomeMotorista" maxlength="80" size="30" value="#{motoristaBean.motorista.nome}" required="true"/>

                            <p:outputLabel value="CNH:" for="txtCnh" />
                            <p:inputText id="txtCnh" maxlength="20" size="15" value="#{motoristaBean.motorista.cnh}" required="true"/>

                            <p:outputLabel value="Telefone:" for="txtTelefone" />
                            <p:inputMask mask="9999-9999" size="15" maxlength="8" id="txtTelefone" value="#{motoristaBean.motorista.telefone}" required="true"/>

                            <p:outputLabel value="CPF:" for="txtCpf" />
                            <p:inputMask maxlength="11" size="15" mask="999.999.999-99"  id="txtCpf" value="#{motoristaBean.motorista.cpf}" required="true"/>

                            <p:outputLabel value="RG:" for="txtRg" />
                            <p:inputText maxlength="9" size="10" id="txtRg" value="#{motoristaBean.motorista.rg}" required="true" />

                            <p:outputLabel value="Logradouro:" for="txtLogradouro" />
                            <p:inputText id="txtLogradouro" size="30" maxlength="80" value="#{motoristaBean.motorista.endereco.logradouro}" required="true"/>

                            <p:outputLabel value="Numero: " for="txtNumero" />
                            <p:inputText id="txtNumero" size="8" maxlength="4" value="#{motoristaBean.motorista.endereco.numero}" required="true" />

                            <p:outputLabel value="Cidade:" for="txtCidade" />
                            <p:selectOneMenu id="txtCidade" value="#{motoristaBean.motorista.endereco.cidade}" style="width:125px">
                                <f:selectItem  itemLabel="Selecione" itemValue="" />
                                <f:selectItem itemLabel="Vitória" itemValue="Vitória" />
                                <f:selectItem itemLabel="Vila-Velha" itemValue="Vila-Velha" />
                                <f:selectItem itemLabel="Serra" itemValue="Serra" />
                                <f:selectItem itemLabel="Cariacica" itemValue="Cariacica" />
                            </p:selectOneMenu>

                            <p:outputLabel value="Bairro:" for="txtBairro" />
                            <p:inputText id="txtBairro" size="20" maxlength="40" value="#{motoristaBean.motorista.endereco.bairro}" required="true"/>

                            <p:outputLabel value=""  />
                            <p:outputLabel value=""  />

                            <f:facet name="footer">
                                <p:commandButton  value="Salvar"  action="#{motoristaBean.atualizar}" onclick="PF('dglEditMotorista').hide()" update="growl,gridCadastroMotorista,:listaMotoristas:gridMotorista" icon="fa fa-save">
                                    <p:confirm header="Confirmação" message="Atualizar motorista?" icon="fa fa-exclamation-triangle" />
                                </p:commandButton>
                                <p:confirmDialog global="true">
                                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check-square-o" />
                                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
                                </p:confirmDialog>

                                <p:commandButton value="Cancelar" onclick="PF('dglEditMotorista').hide()" icon="fa fa-close" update="growl,gridCadastroMotorista,:listaMotoristas:gridMotorista" />

                            </f:facet>

                        </p:panelGrid>

                    </h:form>
                </p:dialog>

                <!-- Dialog motorista Completo!-->

                <h:form id="formMotoristaCompleto">
                    <p:dialog id="dialogs" widgetVar="dlgMotoristaCompleto" header="Informaçãoes do Motorista"
                              modal="true" showEffect="fade" hideEffect="fade" 
                              resizable="false">
                        <p:outputPanel id="MotoristaCompleto" style="text-align:center;">

                            <p:panelGrid  columns="2" rendered="true" columnClasses="label,value">


                                <h:outputText value="Id:" />
                                <h:outputText value="#{motoristaBean.motorista.id}" />

                                <h:outputText value="Nome:" />
                                <h:outputText value="#{motoristaBean.motorista.nome}" />

                                <h:outputText value="Telefone:" />
                                <h:outputText value="#{motoristaBean.motorista.telefone}"/>

                                <h:outputText value="CPF:" />
                                <h:outputText value="#{motoristaBean.motorista.cpf}"/>

                                <h:outputText value="RG:" />
                                <h:outputText value="#{motoristaBean.motorista.rg}"/>

                                <h:outputText value="Logradouro:" />
                                <h:outputText value="#{motoristaBean.motorista.endereco.logradouro}"/>

                                <h:outputText value="Cidade:" />
                                <h:outputText value="#{motoristaBean.motorista.endereco.cidade}"/>

                                <h:outputText value="Bairro:" />
                                <h:outputText value="#{motoristaBean.motorista.endereco.bairro}"/>

                                <h:outputText value="Número" />
                                <h:outputText value="#{motoristaBean.motorista.endereco.numero}"/>

                            </p:panelGrid>
                        </p:outputPanel>
                    </p:dialog>
                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
