<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="content">

                <p:growl id="growl" /> 

                <h:form>

                    <p:panelGrid columns="4" style="margin-top: 2%;font-size: 18px;" id="gridCadastroAluno">

                        <f:facet name="header">
                            <h3>Cadastro de Alunos</h3>
                            <p:graphicImage library="imagens" name="student-icon.png"/>
                        </f:facet>

                        <p:outputLabel value="Nome:" for="txtAluno"  />
                        <p:inputText id="txtAluno" maxlength="80" size="30" value="#{alunoBean.aluno.nome}" required="true"/>

                        <p:outputLabel value="Cidade:" for="txtCidade" />
                        <p:selectOneMenu id="txtCidade" value="#{alunoBean.aluno.endereco.cidade}" style="width:125px" required="true">
                            <f:selectItem  itemLabel="Selecione" itemValue="" />
                            <f:selectItem itemLabel="Vitória" itemValue="Vitória" />
                            <f:selectItem itemLabel="Vila-Velha" itemValue="Vila-Velha" />
                            <f:selectItem itemLabel="Serra" itemValue="Serra" />
                            <f:selectItem itemLabel="Cariacica" itemValue="Cariacica" />
                        </p:selectOneMenu>

                        <p:outputLabel value="Responsável:" for="txtResponsavel" />
                        <p:inputText id="txtResponsavel" size="30" maxlength="80" value="#{alunoBean.aluno.responsavel}" required="true"/>

                        <p:outputLabel value="Logradouro:" for="txtLogradouro" />
                        <p:inputText id="txtLogradouro" size="25" maxlength="80" value="#{alunoBean.aluno.endereco.logradouro}" required="true"/>

                        <p:outputLabel value="Telefone:" for="txtTelefone" />
                        <p:inputMask mask="9999-9999" maxlength="8" size="10" id="txtTelefone" value="#{alunoBean.aluno.telefone}" required="true"/>

                        <p:outputLabel value="Numero: " for="txtNumero" />
                        <p:inputText id="txtNumero" size="8" value="#{alunoBean.aluno.endereco.numero}" required="true" />

                        <p:outputLabel value="CPF:" for="txtCpf" />
                        <p:inputMask maxlength="11" mask="999.999.999-99" size="15" id="txtCpf" value="#{alunoBean.aluno.cpf}"/>

                        <p:outputLabel value="Bairro:" for="txtBairro" />
                        <p:inputText id="txtBairro" size="20" maxlength="40" value="#{alunoBean.aluno.endereco.bairro}" required="true"/>

                        <p:outputLabel value="RG(somente números):" for="txtRg" />
                        <p:inputText maxlength="9" id="txtRg" size="10" value="#{alunoBean.aluno.rg}"/>

                        <p:outputLabel value="Valor Mensal :" for="txtValor" />
                        <p:inputText id="txtValor" maxlength="8" size="10" value="#{alunoBean.aluno.valorMensal}"/>

                        <p:outputLabel value="Escola:" for="txtEscola"  />
                        <p:inputText id="txtEscola" size="25" maxlength="40" value="#{alunoBean.aluno.escola}" required="true"/>

                        <p:outputLabel for="calendario" value="Data de Vencimento:"     />
                        <p:calendar locale="pt" lang="BR" maxlength="10" id="calendario" value="#{alunoBean.aluno.dataVencimento}" effect="fold" pattern="dd/MM/yyyy" />

                        <p:outputLabel value="Turno:" for="txtTurno" />
                        <p:selectOneMenu id="txtTurno" value="#{alunoBean.aluno.turno.id}" style="width:125px" required="true">
                            <f:selectItem itemLabel="Selecione..." itemValue="" />
                            <f:selectItems value="#{turnoBean.turnos}" var="turno" itemLabel="#{turno.turno}" itemValue="#{turno.id}" />
                        </p:selectOneMenu>

                        <f:facet name="footer">
                            <p:commandButton  value="Salvar"  action="#{alunoBean.salvar}" update="growl,gridCadastroAluno,:listaAlunos:gridAluno" icon="fa fa-save">
                                <p:confirm header="Confirmação" message="Confirmar Cadastro do Aluno?" icon="ui-icon-alert" />
                            </p:commandButton>
                            <p:confirmDialog global="true">
                                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                            <p:commandButton value="Cancelar" type="reset" icon="fa fa-close"/>
                        </f:facet>

                    </p:panelGrid><p></p>
                    <h3>*Campos Obrigatórios </h3>

                </h:form>

                 <h:form id="listaAlunos">
                    <p:contextMenu  id="contextMenu" for="gridAluno" style="width: 16%">
                        <p:menuitem value="Cadastro Completo" update=":formAlunoCompleto:AlunoCompleto" icon="ui-icon-search" oncomplete="PF('dlgAlunoCompleto').show()"/>
                        <p:menuitem value="Editar Aluno" update=":frmedit:gridCadastroAluno" icon="ui-icon-search" oncomplete="PF('dglEditAluno').show();"/>
                        <p:menuitem value="Deletar Aluno" update="gridAluno" icon="ui-icon-close" actionListener="#{alunoBean.remover}"/>
                    </p:contextMenu>


                    <p:dataTable value="#{alunoBean.alunos}" scrollHeight="500" var="aluno" id="gridAluno" style="font-size: 16px;"
                                 scrollable="true"
                                 rowKey="#{aluno.id}"
                                 selection="#{alunoBean.aluno}"
                                 selectionMode="single">

                        <p:column headerText="Id" width="20">
                           #{aluno.id}
                        </p:column>

                        <p:column headerText="Nome">
                            #{aluno.nome}
                        </p:column>

                        <p:column headerText="Responsável">
                            #{aluno.responsavel}
                        </p:column>

                        <p:column headerText="Telefone" width="80">
                            #{aluno.telefone}
                        </p:column>

                        <p:column headerText="Mensalidade"  width="95">

                            <h:outputText value="#{aluno.valorMensal}">  
                                <f:convertNumber pattern="R$ ,##0.00"/>
                            </h:outputText>  
                        </p:column>


                        <p:column headerText="Vencimento"  width="95">
                            <h:outputText value="#{aluno.dataVencimento}">  
                                <f:convertDateTime pattern="dd/MM/yyyy"/>  
                            </h:outputText>  
                        </p:column>
                        
                    </p:dataTable>
                     
                </h:form>

                <!--Dialog Edit Aluno!-->

                <p:dialog id="dialogs" header="Atualizar Aluno"
                          widgetVar="dglEditAluno" resizable="false"
                          showEffect="fade" hideEffect="fade" 
                          modal="true" >

                    <h:form id="frmedit">

                        <p:panelGrid id="gridCadastroAluno" columns="4" style="font-size: 18px;">

                           <p:outputLabel value="Nome:" for="txtAluno"  />
                           <p:inputText id="txtAluno" maxlength="80" size="30" value="#{alunoBean.aluno.nome}" required="true" />

                            <p:outputLabel value="Responsável:" for="txtResponsavel" />
                            <p:inputText id="txtResponsavel" size="30" maxlength="80" value="#{alunoBean.aluno.responsavel}" required="true"/>

                            <p:outputLabel value="Telefone:" for="txtTelefone" />
                            <p:inputMask mask="9999-9999" maxlength="8" size="10" id="txtTelefone" value="#{alunoBean.aluno.telefone}" required="true"/>

                            <p:outputLabel value="CPF:" for="txtCpf" />
                            <p:inputMask maxlength="11" mask="999.999.999-99" size="15" id="txtCpf" value="#{alunoBean.aluno.cpf}" readonly="true"/>

                            <p:outputLabel value="RG(somente números):" for="txtRg" />
                            <p:inputText maxlength="9" id="txtRg" size="10" value="#{alunoBean.aluno.rg}" readonly="true"/>

                            <p:outputLabel value="Escola:" for="txtEscola"  />
                            <p:inputText id="txtEscola" size="30" maxlength="40" value="#{alunoBean.aluno.escola}" required="true"/>

                            <p:outputLabel value="Turno:" for="txtTurno" />
                            <p:selectOneMenu id="txtTurno" value="#{alunoBean.aluno.turno.id}" style="width:125px" required="true">
                                <f:selectItem itemLabel="Selecione..." itemValue="" />
                                <f:selectItems value="#{turnoBean.turnos}" var="turno" itemLabel="#{turno.turno}" itemValue="#{turno.id}" />
                            </p:selectOneMenu>

                            <p:outputLabel value="Logradouro:" for="txtLogradouro" />
                            <p:inputText id="txtLogradouro" size="30" maxlength="80" value="#{alunoBean.aluno.endereco.logradouro}" required="true"/>

                            <p:outputLabel value="Numero: " for="txtNumero" />
                            <p:inputText id="txtNumero" size="8" value="#{alunoBean.aluno.endereco.numero}" required="true" />

                            <p:outputLabel value="Cidade:" for="txtCidade" />
                            <p:selectOneMenu id="txtCidade" value="#{alunoBean.aluno.endereco.cidade}" style="width:125px" required="true">
                                <f:selectItem  itemLabel="Selecione" itemValue="" />
                                <f:selectItem itemLabel="Vitória" itemValue="Vitória" />
                                <f:selectItem itemLabel="Vila-Velha" itemValue="Vila-Velha" />
                                <f:selectItem itemLabel="Serra" itemValue="Serra" />
                                <f:selectItem itemLabel="Cariacica" itemValue="Cariacica" />
                            </p:selectOneMenu>

                            <p:outputLabel value="Bairro:" for="txtBairro" />
                            <p:inputText id="txtBairro" size="20" maxlength="40" value="#{alunoBean.aluno.endereco.bairro}" required="true"/>

                            <p:outputLabel value="Valor Mensal :" for="txtValor" />
                            <p:inputText id="txtValor" maxlength="8" size="10" value="#{alunoBean.aluno.valorMensal}">
                                <f:convertNumber pattern="#0.00"/>
                            </p:inputText>

                            <p:outputLabel for="calendario" value="Data de Vencimento:"     />
                            <p:calendar locale="pt" lang="BR" maxlength="10" id="calendario" value="#{alunoBean.aluno.dataVencimento}" effect="fold" pattern="dd/MM/yyyy" />

                            <p:outputLabel/>
                            <p:outputLabel/>
                            
                            <f:facet name="footer">
                                <p:commandButton  value="Salvar"  action="#{alunoBean.atualizar}" onclick="PF('dglEditAluno').hide()" update="growl,gridCadastroAluno,:listaAlunos:gridAluno" icon="fa fa-save">
                                    <p:confirm header="Confirmação" message="Atualizar Aluno?" icon="ui-icon-alert" />
                                </p:commandButton>
                                <p:confirmDialog global="true">
                                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                </p:confirmDialog>
                                <p:commandButton value="Cancelar" icon="fa fa-close" onclick="PF('dglEditAluno').hide()" />
                            </f:facet>
                        </p:panelGrid>

                    </h:form>

                </p:dialog>

                <!-- Aluno completo!-->

                <h:form id="formAlunoCompleto">
                    <p:dialog widgetVar="dlgAlunoCompleto" header="Informaçãoes do Aluno" style="font-size: 16px;"
                              modal="true" showEffect="fade" hideEffect="fade" 
                              resizable="false">
                        <p:outputPanel id="AlunoCompleto" style="text-align:center;">

                            <p:panelGrid  columns="2" rendered="true" columnClasses="label,value">

                                <h:outputText value="Id:" />
                                <h:outputText value="#{alunoBean.aluno.id}" />

                                <h:outputText value="Nome:" />
                                <h:outputText value="#{alunoBean.aluno.nome}" />

                                <h:outputText value="Telefone:" />
                                <h:outputText value="#{alunoBean.aluno.telefone}"/>

                                <h:outputText value="CPF:" />
                                <h:outputText value="#{alunoBean.aluno.cpf}"/>

                                <h:outputText value="RG:" />
                                <h:outputText value="#{alunoBean.aluno.rg}"/>

                                <h:outputText value="Logradouro:" />
                                <h:outputText value="#{alunoBean.aluno.endereco.logradouro}"/>

                                <h:outputText value="Cidade:" />
                                <h:outputText value="#{alunoBean.aluno.endereco.cidade}"/>

                                <h:outputText value="Bairro:" />
                                <h:outputText value="#{alunoBean.aluno.endereco.bairro}"/>

                                <h:outputText value="Número" />
                                <h:outputText value="#{alunoBean.aluno.endereco.numero}"/>

                            </p:panelGrid>
                        </p:outputPanel>
                    </p:dialog>
                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
