<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

   


    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="content">

                <h:form>
                     <p:growl id="growl" /> 

                     <p:panelGrid columns="2" style="margin-top: 2%;font-size: 18px;" id="gridCaixa">
                        <f:facet name="header">
                            <h3>Fluxo de Caixa</h3>
                        </f:facet>
                        <p:outputLabel value="Data: " id="txtData" />
                        <p:inputText value="#{caixaBean.dataLancamento}" readonly="true">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>  
                        </p:inputText>

                        <p:outputLabel value="Descrição: " for="txtDescricao" />
                        <p:inputText id="txtDescricao" size="50" maxlength="60" value="#{caixaBean.descricao}" required="true"/>

                        <p:outputLabel value="Tipo: " for="txtTipo" />
                        <p:selectOneMenu id="txtTipo" value="#{caixaBean.tipo}">
                            <f:selectItem  itemLabel="Entrada" itemValue="Entrada" />
                            <f:selectItem itemLabel="Retirada" itemValue="Retirada" />                
                        </p:selectOneMenu>

                        <p:outputLabel value="Valor: "  id="lblValor" for="txtValor" />
                        <p:inputText id="txtValor" maxlength="8" size="8" value="#{caixaBean.valor}" required="true" />

                        <p:outputLabel value="Saldo Atual: " for="saldoAtual" />
                        <p:inputText  id="saldoAtual" readonly="true" size="8" value="#{caixaBean.caixa.saldoAtual}" />
                        <f:facet name="footer">
                            <p:commandButton value="Salvar" icon="ui-icon-check"  action="#{caixaBean.salvar}"  update="growl,gridCaixa,saldoAtual,grdLancamentos" >    
                                <p:confirm header="Confirmação" message="Confirmar Ação?" icon="fa fa-exclamation-triangle" />
                                <p:confirmDialog global="true">
                                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check-square-o" />
                                    <p:commandButton  value="Não" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
                                </p:confirmDialog>
                            </p:commandButton>
                        </f:facet>

                    </p:panelGrid><br></br><br></br>

                    <p:dataTable rows="30" id="grdLancamentos" value="#{caixaBean.caixa.lancamentos}" var="l" 
                                 scrollHeight="500" scrollable="true" 
                                 rowStyleClass="#{l['class'].simpleName == 'Credito' ? 'credito' : 'debito'}" 
                                 style="font-size: 16px;" >

                         <p:column  headerText="Descrição">
                            #{l.descricao}
                        </p:column>
                        
                        <p:column headerText="Data"  width="95">
                            <h:outputText value="#{l.dataLancamento}">  
                                <f:convertDateTime pattern="dd/MM/yyyy"/>  
                            </h:outputText>  
                        </p:column>

                        <p:column headerText="Valor"  width="95">
                            <h:outputText value="#{l.valor}">  
                                <f:convertNumber pattern="R$ ,##0.00"/>
                            </h:outputText>  
                        </p:column>
                        
                    </p:dataTable>


                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
