<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <center>
        <h:form style="margin-top: 3%;">  
    
            <p:menu style="width: 30%" >
                <p:submenu label="Desenvolvedores" style="font-size: 16px;">
                    <p:menuitem value="' Rick Novo" icon="fa fa-coffee" />
            <p:menuitem value="996899230" icon="fa fa-phone"/>
            <p:menuitem value="rickmaick@gmail.com" icon="fa fa-google" />
            <p:menuitem value="Facebook" icon="fa fa-facebook"  url="https://www.facebook.com/rickmnovo" />
        </p:submenu>
             <p:separator style="margin-top: 2%"/>
            <p:menuitem value="' Eduardo Brandt" icon="fa fa-coffee" />
            <p:menuitem value="999584353" icon="fa fa-phone"/>
            <p:menuitem value="eduardobrandt1608@gmail.com" icon="fa fa-google"/>

    </p:menu>
       </h:form>
        </center>
    </ui:define>

</ui:composition>
