<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns="http://www.w3.org/1999/xhtml">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="content">

                <p:growl id="growl" /> 

                <h:form>

                    <p:panelGrid id="gridCadastroAgenda" columns="4" style="margin-top: 2%;font-size: 18px;">

                        <f:facet name="header">
                            <h3>Registrar Eventos</h3>
                        </f:facet>

                        <p:outputLabel value="Título:" for="txtTitulo"  />
                        <p:inputText id="txtTitulo" size="40" value="#{agendaBean.agenda.titulo}" required="true"/>

                        <p:outputLabel value="Descrição:" for="txtDescricao" />
                        <p:inputTextarea id="txtDescricao" value="#{agendaBean.agenda.descricao}" required="true"/>

                        <p:outputLabel value="Data Início:" for="txtInicio" />
                        <p:calendar id="txtInicio" value="#{agendaBean.agenda.dataInicio}" pattern="dd/MM/yyyy" effect="fold" required="true"/>

                        <p:outputLabel value="Veículo:" for="txtVeiculo" />
                        <p:selectOneMenu id="txtVeiculo" value="#{agendaBean.agenda.veiculo}" style="width:125px" required="true" valueChangeListener="#{agendaBean.selecionarVeiculo}" >
                            <f:selectItem itemLabel="Selecione..."    />
                            <f:selectItems value="#{veiculoBean.veiculos}" var="veiculo" itemLabel="#{veiculo.modelo}" itemValue="#{veiculo.id}"  />
                            <p:ajax process="@this" update="txtMarca" />
                        </p:selectOneMenu>

                        <p:outputLabel value="Data Fim:" for="txtFim" />
                        <p:calendar id="txtFim" value="#{agendaBean.agenda.dataFim}" pattern="dd/MM/yyyy" effect="fold" required="true"/>

                        <p:outputLabel value="Marca:" for="txtMarca"  />
                        <p:inputText id="txtMarca" value="#{agendaBean.agenda.veiculo.marca}" required="true" readonly="true"/>

                        <p:outputLabel value="Horário:" for="txtHorario"  />
                        <p:inputMask mask="99:99" id="txtHorario" value="#{agendaBean.agenda.hora}" required="true"/>

                        <p:outputLabel value="Placa:" for="txtPlaca" />
                        <p:inputMask mask="aaa-9999" id="txtPlaca" value="#{agendaBean.agenda.veiculo.placa}" required="true" readonly="true"/>

                        <p:outputLabel/>
                        <p:outputLabel/>

                        <p:outputLabel value="Cor:" for="txtCor" />
                        <p:inputText id="txtCor" value="#{agendaBean.agenda.veiculo.cor}" required="true" readonly="true"/>

                        <f:facet name="footer">
                            <p:commandButton value="Salvar" action="#{agendaBean.salvar}" icon="fa fa-save" update="growl,gridCadastroAgenda,:listaAgendas:gridAgenda" >    
                                <p:confirm id="confirm" header="Confirmação" message="Confirmar Evento?" icon="fa fa-exclamation-triangle" />
                            </p:commandButton>
                            <p:confirmDialog global="true" showEffect="fade">
                                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check-square-o" />
                                <p:commandButton  value="Não" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
                            </p:confirmDialog>
                            <p:commandButton value="Cancelar" type="reset" icon="fa fa-close"/>
                        </f:facet>

                    </p:panelGrid><p></p>
                    <h3> *Campos Obrigatórios</h3>

                </h:form>

                <h:form id="listaAgendas">
                    <p:contextMenu for="gridAgenda" style="width: 16%;">
                        <p:menuitem value="Cadastro Completo" update=":formAgendaCompleto:AgendaCompleto" icon="ui-icon-search" oncomplete="PF('dlgAgendaCompleto').show()"/>
                        <p:menuitem value="Editar" update=":frmedit:gridCadastroAgenda" icon="ui-icon-search" oncomplete="PF('dglEditAgenda').show();"/>
                        <p:menuitem value="Delete" update="gridAgenda" icon="ui-icon-close" actionListener="#{agendaBean.remover}"/>

                    </p:contextMenu>


                    <p:dataTable value="#{agendaBean.eventos}" var="agenda" id="gridAgenda" style="font-size: 16px;"
                                 scrollable="true"
                                 rowKey="#{agenda.id}"
                                 selection="#{agendaBean.agenda}"
                                 selectionMode="single">

                        <p:column headerText="Id" width="20">
                            #{agenda.id}
                        </p:column>

                        <p:column headerText="Título">
                            #{agenda.titulo}
                        </p:column>

                        <p:column headerText="Data Início"  width="95">
                            <h:outputText value="#{agenda.dataInicio}">  
                                <f:convertDateTime pattern="dd/MM/yyyy"/>  
                            </h:outputText>  
                        </p:column>

                        <p:column headerText="Data Fim"  width="95">
                            <h:outputText value="#{agenda.dataFim}">  
                                <f:convertDateTime pattern="dd/MM/yyyy"/>  
                            </h:outputText>  
                        </p:column>

                        <p:column headerText="Horário" width="100">
                            #{agenda.hora}
                        </p:column>

                        <p:column headerText="Descrição">
                            #{agenda.descricao}
                        </p:column>


                    </p:dataTable>
                </h:form>

                <!-- Dialog Editar Evento-->

                <p:dialog header="Atualizar Evento" style="font-weight:bold" 
                          widgetVar="dglEditAgenda" resizable="false" id="dlg"
                          showEffect="fade" hideEffect="fade" 
                          modal="true" >
                    <h:form id="frmedit">

                        <p:panelGrid id="gridCadastroAgenda" columns="4" style="font-size: 18px;">

                            <p:outputLabel value="Titulo:" for="txtTitulo:"  />
                            <p:inputText id="txtTitulo" value="#{agendaBean.agenda.titulo}" required="true"/>

                            <p:outputLabel value="Data Inicio:" for="txtDataInicio" />
                            <p:calendar locale="pt" id="txtDataInicio" value="#{agendaBean.agenda.dataInicio}" effect="fold" pattern="dd/MM/yyyy" />

                            <p:outputLabel value="Data Fim:" for="txtDataFim"  />
                            <p:calendar locale="pt" id="txtDataFim" value="#{agendaBean.agenda.dataFim}" effect="fold" pattern="dd/MM/yyyy" />

                            <p:outputLabel value="Horário:" for="txtHorario" />
                            <p:inputText id="txtHorario" value="#{agendaBean.agenda.hora}"/>

                            <p:outputLabel value="Descricao:" for="txtDescricao" />
                            <p:inputText id="txtDescricao" value="#{agendaBean.agenda.descricao}"/>

                            <!--veiculo a ser usado-->

                            <p:outputLabel value="Veículo:" for="txtVeiculo" />
                            <p:selectOneMenu id="txtVeiculo" value="#{veiculoBean.veiculos}" style="width:125px" required="true">
                                <f:selectItem itemLabel="Selecione..." itemValue="" />
                                <f:selectItems value="#{veiculoBean.veiculos}" var="veiculo" itemLabel="#{veiculo.marca}" itemValue="#{veiculo.id}" />
                            </p:selectOneMenu>

                            <!--PLACA do veiculo a ser usado-->

                            <p:outputLabel value="Placa:" for="txtPlaca" />
                            <p:inputText id="txtPlaca" value="#{agendaBean.agenda.veiculo.placa}" required="true"/>


                            <f:facet name="footer"  >
                                <p:commandButton value="Salvar" action="#{agendaBean.atualizar}" onclick="PF('dglEditAgenda').hide()" icon="fa fa-save"  update="growl,gridCadastroAgenda,:listaAgendas:gridAgenda" >
                                    <p:confirm header="Confirmação" message="Atualizar Evento?" icon="fa fa-exclamation-triangle" />
                                </p:commandButton>
                                <p:confirmDialog global="true" showEffect="fade">
                                    <p:commandButton value="Sim" styleClass="ui-confirmdialog-yes" icon="fa fa-check-square-o" />
                                    <p:commandButton  value="Não" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
                                </p:confirmDialog>
                                <p:commandButton value="Cancelar" onclick="PF('dglEditAgenda').hide()" icon="fa fa-close" />
                            </f:facet>
                        </p:panelGrid>
                    </h:form>
                    
                    

                </p:dialog>

                <!--Dialog Agenda Completo!-->

                <h:form id="formAgendaCompleto">
                    <p:dialog widgetVar="dlgAgendaCompleto" header="Informações do Evento"
                              modal="true" showEffect="fade" hideEffect="fade" 
                              resizable="false">
                        <p:outputPanel id="AgendaCompleto" style="text-align:center;">

                            <p:panelGrid  columns="2" rendered="true" columnClasses="label,value">

                                <h:outputText value="Id:" />
                                <h:outputText value="#{agendaBean.agenda.id}" />

                                <h:outputText value="Título" />
                                <h:outputText value="#{agendaBean.agenda.titulo}" />

                                <h:outputText value="Data Inicio" />
                                <h:outputText value="#{agendaBean.agenda.dataInicio}"/>

                                <h:outputText value="Data Fim" />
                                <h:outputText value="#{agendaBean.agenda.dataFim}"/>

                                <h:outputText value="Horário" />
                                <h:outputText value="#{agendaBean.agenda.hora}"/>

                                <h:outputText value="Descrição" />
                                <h:outputText value="#{agendaBean.agenda.descricao}"/>

                            </p:panelGrid>
                        </p:outputPanel>
                    </p:dialog>
                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>

