<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="content">

                <h2>SysTransporteEscolar  - Ajuda</h2>
                <div style="margin-left: 15%;margin-right: 15%;font-size: 16px;">
                    <p>
                        <h3>1 - Como eu faço um cadastro?</h3>

                        Teremos um menu logo abaixo do banner, procure pelo 
                        menu <span style="color: #0000ff; font-weight : bold;">Cadastros</span>, onde nele contém os links para:
                        <span style="color: #0000ff; font-weight : bold;">Cadastro de Alunos</span>,
                        <span style="color: #0000ff; font-weight : bold;">Cadastro de Veículos</span>,
                        <span style="color: #0000ff; font-weight : bold;">Cadastro de Motoristas</span>,
                        <span style="color: #0000ff; font-weight : bold;">Cadastro de Ajudante</span>,
                        Escolha um e clique que você será redirecionado para página do mesmo onde terá 
                        um formulário de cadastro, preencha-o,OBS: Se em um campo conter um Asterisco(*)
                        este campo é obrigatório.<p>Finalizando o preenchimento clique em <span style="color: #0000ff; font-weight : bold;">Salvar</span>, então 
                            aparecerá uma janela de <span style="color: #0000ff; font-weight : bold;">confirmação</span> confirmando, aparecerá mensagem de que seu item 
                            foi salvo com sucesso e aparecerá na tabela logo abaixo, caso contrário,poderá aparecer a mensagem
                            de campo obrigatório ou uma mensagem que um certo campo só aceita números.
                            O botao Cancelar limpa o formulário.</p>
                    </p>

                    <h3>2 - Como eu Edito ou Excluo um item já cadastrado?</h3>
                    <p>Na tabela de itens logo abaixo do cadastro você seleciona 
                        um item e clica com o botão direito, irá abrir um menu  e terá a opção
                        <span style="color: #0000ff; font-weight : bold;">Deletar</span>,
                        que quando clicado aparecerá uma janela confirmar a exclusão do item.</p>

                    <h3>3 - Como eu uso a Agenda?</h3>
                    <p>A Agenda está no menu, clicando nela você será enviado a pagina da agenda que segue os mesmos padrões
                        dos outros cadastros</p>

                    <h3>4 - Perdi o manual do usuário e agora?</h3>
                    <p>No menu terá o item: <span style="color: #0000ff; font-weight : bold;">Ajuda</span> onde tera um botão para download do manual do usuário.</p>
                    
                    <p>
                        <h3>6 - Esqueci meu usuário e senha</h3>
                        No manual do usuário terá seu login e senha.Caso tenha perdido o Manual veja o item 4 desta Ajuda.
                    </p>

                    <h3>5 - Como eu faço para sair da Aplicação?</h3>
                    <p>Clicando no botão <span style="color: #0000ff; font-weight : bold;">Logout</span> na barra de menu.

                    </p>


                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
