<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="content">
                <br></br><br></br>
                <h1>Bem vindo Ao SysTransporteEscolar</h1>
                 <div style="margin-left: 15%;margin-right: 15%;font-size: 16px;">
                <p>Um sistema desenvolvido para gerenciamento de transporte escolar, bem como cadastros de
                alunos,veículos,motoristas,ajudantes, cadastros de eventos.
                Com um sistema  de fluxo de caixa integrado para por em ordem o dinheiro que é recebido e gasto.</p>
                 </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
