<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="/SysTransporte/resources/images/favicon.ico" type="image/x-icon" />
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Tio Alex Transporte escolar</title>
    </h:head>

    <h:body>
        <center>
            <div  style="width: 100%;background: #ffffff;border:#ff9933 1px solid ;height: 900px;">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </center>
    </h:body>

</html>
