<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="content">
                <h2>Pesquisar <p:graphicImage library="imagens" name="pesquisa.png"/></h2>


                <h:form>

                    <p:panelGrid columns="2" style="font-size: 16px;">

                        <p:outputLabel for="pesquisaNome" value="Nome do Aluno :" />
                        <p:inputText id="pesquisaNome" value="#{pesquisaBean.nome}" />

                        <p:outputLabel for="pesquisaDataInicial" value="Data Inicial :" />
                        <p:calendar id="pesquisaDataInicial" effect="fold"  pattern="dd/MM/yyyy" value="#{pesquisaBean.dataInicio}" />

                        <p:outputLabel for="pesquisaDataFim" value="Data final :" />
                        <p:calendar id="pesquisaDataFim" effect="fold"  pattern="dd/MM/yyyy" value="#{pesquisaBean.dataFim}" />

                        <p:commandButton value="Pesquisar" actionListener="#{pesquisaBean.pesquisaAluno}" icon="fa fa-search" update="gridAluno"/>

                        <p:outputLabel/>
                    </p:panelGrid><br></br><br></br>
                    <p:dataTable value="#{pesquisaBean.listaAluno}" var="aluno" id="gridAluno" style="font-size: 16px;" scrollable="true" >


                        <p:column headerText="Nome">
                            #{aluno.nome}
                        </p:column>

                        <p:column headerText="Responsável">
                            #{aluno.responsavel}
                        </p:column>

                        <p:column headerText="Telefone" width="80">
                            #{aluno.telefone}
                        </p:column>

                        <p:column headerText="Vencimento"  width="95">
                            <h:outputText value="#{aluno.dataVencimento}">  
                                <f:convertDateTime pattern="dd/MM/yyyy"/>  
                            </h:outputText>  
                        </p:column>

                        <p:column headerText="Mensalidade"  width="95">
                            <h:outputText value="#{aluno.valorMensal}">  
                                <f:convertNumber pattern="R$ ,##0.00"/>
                            </h:outputText>  
                        </p:column>
                    </p:dataTable>
                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
