<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="content">
                <h:form>
                    <p:panelGrid columns="1" style="margin-top: 10%">
                    <p:commandButton ajax="false" value="Gerar Relatório" action="#{gerarRelatorioBean.imprimeRelatorio}" icon="fa fa-file-pdf-o"/>     
                </p:panelGrid>
               </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
