<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="/SysTransporteEscolar/resources/imagens/favicon.ico" type="image/x-icon" />
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Tio Alex Transporte Escolar</title>
        <script type="text/javascript">

            PrimeFaces.locales['pt'] = {
                closeText: 'Fechar',
                prevText: 'Anterior',
                nextText: 'Próximo',
                currentText: 'Começo',
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
                weekHeader: 'Semana',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Só Horas',
                timeText: 'Tempo',
                hourText: 'Hora',
                minuteText: 'Minuto',
                secondText: 'Segundo',
                ampm: false,
                month: 'Mês',
                week: 'Semana',
                day: 'Dia',
                allDayText: 'Todo o Dia'
            };
        </script>

        <style type="text/css">
            .credito {
                background-color: #99ff99 !important;
                background-image: none !important;
                color: #000000 !important;
            }

            .debito {
                background-color: #ff3333 !important;
                background-image: none !important;
                color: #000000 !important;
            }
        </style>


    </h:head>

    <h:body>
        <div id="all">

            <p:graphicImage id="logo" library="imagens" name="logo3.png" url="index.html" alt="Tio Alex Transporte Escolar"/>


            <div id="top">

                <h:form>  

                    <p:menubar>
                        <p:menuitem value="Página Inicial" icon="fa fa-home" url="/admin/index.xhtml"/>
                        <p:submenu label="Cadastros" icon="fa fa-file-text">
                            <p:menuitem value="Alunos" url="/admin/cadastroAluno.xhtml" icon="fa fa-child" /><p:separator/>
                            <p:menuitem value="Veiculos" url="/admin/cadastroVeiculos.xhtml" icon="fa fa-bus" /><p:separator/>
                            <p:menuitem value="Motoristas" url="/admin/cadastroMotorista.xhtml" icon="fa fa-male" /><p:separator/>
                            <p:menuitem value="Ajudantes" url="/admin/cadastroAjudante.xhtml" icon="fa fa-male" />

                        </p:submenu>

                        <p:menuitem value="Pesquisar" url="/admin/pesquisar.xhtml" icon="fa fa-search" />
                        <p:menuitem value="Agenda" url="/admin/eventos.xhtml" icon="fa fa-calendar" />
                        <p:menuitem value="Caixa" url="/admin/caixa.xhtml" icon="fa fa-calculator" />
                        <p:menuitem value="Relatório" url="/admin/relatorio.xhtml" icon="fa fa-file-pdf-o" />

                        <p:submenu label="Ajuda" icon="fa fa-question">
                            <p:menuitem value="Ajuda Online" icon="fa fa-question" url="/admin/FAQ.xhtml" /><p:separator/>
                            <p:menuitem value="Desenvolvedores" icon="fa fa-coffee" url="/admin/contatoDesenvolvedor.xhtml" />
                            <p:menuitem value="Manual Do Usuário">
                                <p:commandButton value="Manual do Usuário" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="fa fa-file-pdf-o">
                                    <p:fileDownload value="#{downloadManualBean.file}" />
                                </p:commandButton>
                            </p:menuitem>
                        </p:submenu>

                        <f:facet name="options">
                            <p:commandButton value="Logout" action="#{loginBean.logout()}" icon="fa fa-key" />
                        </f:facet>
                    </p:menubar>

                </h:form>
            </div>

            <div id="conteudo">
                <center>

                    <ui:insert name="content">Content</ui:insert>
                </center>
            </div>

        </div>

        <div id="bottom">
            <div class="Direitos"><li>@2015 - Rick novo e Eduardo brandt todos os Direitos Reservados.</li></div>
            <div class="rodape">
                <ul>
                    <li><a href="template.xhtml"><h:graphicImage library="imagens" name="home-icon.png"/>Página Inicial</a></li>
                    <li><a href="contatoDesenvolvedor.xhtml"><h:graphicImage library="imagens" name="coffee22.png"/>Desenvolvedores</a></li>
                    <li><a href="FAQ.xhtml"><h:graphicImage library="imagens" name="help-icon.png"/>Ajuda</a></li>
                </ul>

            </div>

        </div>

    </h:body>
</html>
