<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./admin/outroTemplate.xhtml">

            <ui:define name="content">

                <center>
                    <div style="border: 1px solid #999999;background: #dddddd;height: 500px ;width: 70%;margin-top: 5%;" >
                        <p:graphicImage library="imagens" name="Sys.png"/>
                        <h2 style="font-size: 32px;">Bem Vindo ao SysTransporteEscolar</h2>

                        <h3>Faça Login para ter acesso ao Sistema</h3>
                        <h:form>

                            <p:growl id="messagens"/>

                            <p:panelGrid columns="2" style="margin-top: 2%;" id="gridLogin">

                                <f:facet name="header">
                                    Login
                                    <p:graphicImage library="imagens" name="register-icon.png"/>
                                </f:facet>

                                <p:outputLabel value="Usuário : " for="txtUsuario" />
                                <p:inputText id="txtUsuario" value="#{loginBean.usuario}" required="true" />

                                <p:outputLabel value="Senha : " for="txtSenha" />
                                <p:password id="txtSenha" value="#{loginBean.senha}" required="true" />

                                <f:facet name="footer"  >
                                    <p:commandButton  value="Logar"  action="#{loginBean.logar}" update="messagens" icon="fa fa-key"/>
                                </f:facet>

                                <f:facet name="start">
                                    <p:graphicImage library="imagens" name="loading.gif" />
                                </f:facet>


                            </p:panelGrid>


                        </h:form>
                    </div>
                </center>
            </ui:define>

        </ui:composition>

    </body>
</html>
